* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --padding: 1em;
  --light-dark-color: #6f7277;
  --code-font-size: 0.5em;
  --min-font-size: 0.5em;
  --max-font-size: 1em;
}

header {
  text-align: center;
  #api-name {
    font-size: clamp(1.5em, 5vw, 2em);
    font-weight: bold;
    padding: 0.2em var(--padding);
    color: #5f9988;
  }
}

main {
  #hero {
    div {
      text-align: left;
      .description {
        text-align: inherit;
        font-size: clamp(0.8em, 2vw, 1em);
        padding: var(--padding);
      }

      #project-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0.5em 0;
        gap: 0.5em;
        padding: 0 var(--padding);
        img {
          height: 1em;
          width: auto;
        }
      }
    }
  }

  .thin,
  .medium,
  .thick {
    position: relative;
    border: none;
    background: var(--light-dark-color);
  }

  .thin {
    height: 0.2em;
  }

  .medium {
    height: 0.3em;
  }

  .thick {
    height: 0.4em;
  }

  .api-reference {
    padding: 1em;

    .column-name {
      padding: 0.5em;
      font-size: clamp(0.7em, 2.5vw, 1em);
      color: #5f9988;

      &:nth-child(odd) {
        border: .5px dotted var(--light-dark-color);
      }

      &:nth-child(even) {
        border-top: .5px dotted var(--light-dark-color);
        border-bottom: .5px dotted var(--light-dark-color);
      }
    }

    tbody {
      tr {
        td {
          padding: 0.5em;
          font-size: clamp(0.7em, 2.5vw, 1em);
          color: #141412;
          text-align: center;
          &:nth-child(odd) {
            border: .5px dotted var(--light-dark-color);
          }

          &:nth-child(even) {
            border-top: .5px dotted var(--light-dark-color);
            border-bottom: .5px dotted var(--light-dark-color);
          }
          a {
            color: #fff;
            text-decoration: none;
            &:hover {
              color: #5f9988;
            }
          }
        }
      }
    }
  }

  .endpoint,
  .example-response {
    h2,
    h3,
    h5 {
      margin: 1em 0 1em 0;
    }

    h3 {
      color: #5f9988;
      font-size: clamp(0.8em, 2vw, 1em);
    }


    pre > code {
      color: #141412;
      font-size: clamp(var(--min-font-size), 2vw, var(--max-font-size));
      a {
        color: #141412;
        font-size: clamp(var(--min-font-size), 2vw, var(--max-font-size));
        text-decoration: none;

        .underline {
          position: relative;
          text-decoration: none;
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            transition: width 0.2s ease-in-out;
            background-color: #5F9988;
            height: 0.2em;
          }

          &:hover::before,
          &:active::after {
            width: 100%;
          }

          &:active {
            color: #0B7CBD;
          }

        }
      }
    }

    div,
    pre {
      background: #CFD0D1;
      border-radius: 0.2em;
      margin: 0.5em 0;
      padding: var(--padding);
      align-items: center;
      white-space: pre-wrap;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    div {
      a {
        font-size: clamp(var(--min-font-size), 1vw, var(--max-font-size));
        font-family: Consolas, monospace;
        color: #141412;
        text-decoration: none;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
  padding-bottom: 1em;
  p {
    font-size: 0.75em;
    span {
      color: #d33432;
    }
  }
}


@media screen and (min-width: 768px) {
  section {
    padding: 0 10em;
  }
}